html {
  -webkit-tap-highlight-color: transparent; }

body {
  background-image: linear-gradient(to top, #70477c, #925ea0); }

h1 {
  color: transparent; }

.intro {
  background-image: linear-gradient(16deg, #ffffff, rgba(255, 255, 255, 0.8));
  color: #925ea0; }

.primary-button {
  background-color: #55a4ae;
  border-color: #71e1ef;
  color: #ffffff; }

.wc-console {
  background-color: rgba(255, 255, 255, 0.5); }
  .wc-console .wc-textbox input {
    color: #ffffff; }
  .wc-console svg,
  .wc-console.has-text .wc-send svg {
    fill: #ffffff; }

::-webkit-input-placeholder {
  color: #ffffff; }

::-moz-placeholder {
  color: #ffffff; }

:-ms-input-placeholder {
  color: #ffffff; }

:-moz-placeholder {
  color: #ffffff; }
