@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

@font-face {
  font-family: 'Hensa';
  src: local('Hensa'), url(assets/fonts/Hensa.otf) format('otf') format("opentype"),
  url("assets/fonts/Hensa.ttf") format("truetype");
}

html, body{
  min-height: 100%;
}
body{
  font-family: 'Noto sans', sans-serif;
  margin: 0;
  padding: 30px;
  text-align: center;
}
h1{
  background: url('assets/img/logo-techy.png') no-repeat 0 0;
  display: block;
  height: 112px;
  margin: 0 auto;
  width: 148px;
}

.bot-page{
  margin: 0 auto;
  max-width: 375px;
}

.primary-button{
  border: 2px solid;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  height: 64px;
  margin-top: 64px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;
}