@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');
@import "assets/styles/colors.scss";

@font-face {
  font-family: 'Hensa';
  src: local('Hensa'), url(assets/fonts/Hensa.otf) format('otf') format("opentype"),
  url("assets/fonts/Hensa.ttf") format("truetype");
}
html{
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}
html, body{
  background-image:  linear-gradient(to top, $dark-violet,  $violet);
  min-height: 100%;
}
body{
  font-family: 'Noto sans', sans-serif;
  margin: 0;
  padding: 30px 30px 60px;
  position: relative;
  text-align: center;
}
.Logo.logo-bot{
  height: 112px;
}

.bot-page{
  margin: 0 auto;
  max-width: 375px;
}

.primary-button{
  background-color: $primary-button;
  border: 2px solid  $primary-button_border;
  border-radius: 8px;
  color: $white;
  font-size: 24px;
  font-weight: 700;
  height: 64px;
  margin-top: 64px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;
}
::-webkit-input-placeholder{color:$white;}
::-moz-placeholder{color:$white;}
:-ms-input-placeholder{color:$white;}
:-moz-placeholder{color:$white;}

:focus, :active{
  outline: none;
  border: none;
  box-shadow: none;
}