$dark-violet: #70477c;
$violet: #925ea0;
$white: #ffffff;
$dark-gray: #4b4b4b;
$primary-button: #55a4ae;
$primary-button_border:#71e1ef;
$color-error: #ff6666;

html{        
    -webkit-tap-highlight-color: transparent;
}
body{
    background-image:  linear-gradient(to top, $dark-violet,  $violet);
}    
h1{
    color: transparent;
}
.intro{  
    background-image: linear-gradient(16deg, $white, rgba(255, 255, 255, 0.8));
    color: $violet;

    h2{
        color: transparent;
    }
}
.primary-button{
    background-color: $primary-button;
    border-color: $primary-button_border;
    color: $white;
}
.wc-console{
    background-color: rgba(255, 255, 255, 0.5);
    .wc-textbox{
        input {
            color: $white;
        }
    }
    svg,
    &.has-text .wc-send svg{
        fill: $white;    
    }
}

::-webkit-input-placeholder{color:$white;}
::-moz-placeholder{color:$white;}
:-ms-input-placeholder{color:$white;}
:-moz-placeholder{color:$white;}

.wc-message-wrapper{
}
.wc-message-from-me,
.wc-message-from-bot{    
    .wc-message-content{
        background-image: linear-gradient(15deg, $white, rgba(255, 255, 255, 0.8));
        background-color: transparent;
        color: $primary-button;
    }
} 
.wc-message-from-bot{
    .wc-message-content{
        color: $dark-gray;
    }
}