@import "../../../assets/styles/colors.scss";

.admin-page{
    padding-top: 30px; 
    img{
        max-width: 100%;
    }
    h3{
        font-size: 20px;
    }
    .group-row{
        border-radius: 4px;
        margin: 30px auto;
        max-width: 500px;
        padding: 0 6px 10px;

        table{
            width: 100%;
        }
        th, td{
            font-size: 12px;
            font-weight: normal;
            padding: 4px 4px 0 4px;
            text-align: left;
            vertical-align: top;
        }
        th{
            padding-top: 10px;
        }
        .team{
            text-transform: uppercase;
        }
        .group-name{
            font-size: 14px;
            font-weight: 700;
        }
    }
    #logo-sm{
        bottom: 20px;
        position: absolute;
        right: 30px;
    }
}

.secondary-button{
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    height: 48px;
    text-transform: uppercase;
    width: 260px;
}
