.logo {
	height: 60px;
	border-radius: 30px;
}

.header {
  margin-bottom: 30px;
}

.header li {
  display: inline;
  text-align: center;
}

.header ul {
	text-align: right;
}


@media (max-width: 576px) { 
	.header li {
		display: block;
	}
}
